body {
  font-family: Arial, sans-serif;
  background-color: #AF1740;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(spiderlogo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.header h1 {
  font-size: 40px;
  color: black;
  margin: auto
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  background-color: #740938;
  color: #fff;
  height: 66%;
}
 
.logo-section {
  margin-bottom: 20px;
}
 
.logo {
  max-width: 50%;
}
 
.login-section h1 {
  margin-bottom: 20px;
  font-size: 24px;
}
 
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
 
.login-form input {
  width: 94%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
 
.login-btn {
  background-color: #CC2B52;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
 
.login-btn:hover {
  background-color: #800000;
}

.create-acnt {
  background-color: #CC2B52;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
 
.create-acnt:hover {
  background-color: #800000;
}
 
.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
 
.links a {
  color: #ffe6e6;
  text-decoration: none;
  font-size: 14px;
}
 
.links a:hover {
  text-decoration: underline;
}